[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "DBERlibR"]
	path = DBERlibR
	url = https://github.com/cran/DBERlibR
	shallow = true
	registered = true
